.gallery {
    margin-top: 20px;
}

.row .col-sm-3 a img, .row .col-sm-2 a img {
    border: solid 1px #000000;
    padding: 10px;
    margin-bottom: 30px;
}

.modal-content {
    background-color: #000000;
    border: solid 1px #ffffff;
    padding: 10px;
    color: #ffffff;
    border-radius: 3px;
}

.modal-body .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
}

.carousel.web {
    width: 300px;
}

.carousel.mobile {
    width: 250px;
}

.web .carousel-item img{
    width: 300px;
}

.mobile .carousel-item img{
    width: 250px;
}

.close-button {
    width: 100%;
    background:#800020;
    border-radius:5px;
    border:0;
    cursor:pointer;
    color:white;
    font-size:24px;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:-4px;
}

.close-button:hover { 
    background:#753445; 
}

