/* For good.html */

/* Background image source: http://iwebnext.com/blog_image/410119501Website-Design-Background.jpg */
body {
    background-image: url(background.jpg);
    background-attachment: fixed;
    color: white;
}

main {
    margin-left: 300px; /* Same as the width of the sidebar */
    padding: 0px 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/* Sidebar code inspiration: 
    https://www.w3schools.com/css/css_navbar.asp 
    https://www.w3schools.com/howto/howto_css_fixed_sidebar.asp
*/

.sidebar {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: black; 
    overflow-x: hidden; 
    padding-top: 10px;
    padding-left: 10px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

ul.menu {
    list-style-type: none;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 0;
    width: 290px;
    background-color: black;
}


figure {
    max-width: 260px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 10px;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    padding: 10px;

}

ul.sideinfo{
    list-style-type: none;
    margin-left: 10px;
    padding: 0;
    width: 290px;
    font-size: smaller;
}

li a{
    color: white;
    text-decoration: none;
}

li.menuoption a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
}

li.menuoption {
    text-align: center;
    border-top: 1px solid #555;
    border-bottom: 1px solid #555;
}

li.menuoption a:hover:not(.active) {
    background-color: #555;
    color: black;
}

h1 {
    border-style: double;
    border-width: 5px;
    padding: 50px;
    text-align: center;
}

h2 {
    border-style: solid;
    border-width: 3px;
    padding: 15px;
}

h3 {
    border-style: dotted;
    border-width: 2px;
    padding: 10px;
}

h3.skills {
    margin-right: 10px;
}

footer a {
    color: white;
}
